    h1 {
        text-align: middle;
    }
    
    .line-chart
    {
        border: 1px solid lightgray;
        margin: 0 auto;
        width: 900px;
    }
    
    .spike-selector
    {
        height: 500px;
        width: 200px;
        overflow: scroll;
        border: 1px solid lightgray;
        display:inline-block;
    }

    .container {
        padding-bottom: 5px;
    }
    
    .spikes {
        height: 50px;
        width: 180px;
        margin: 10 auto;
        padding-right: 10px;
    }
    
    .spike-selector:first-child {
        margin-top:0;
    }
    
    .hover {
        background-color:grey;
    }
    
    .clicked {
        background-color:black;
    }
    
    body {
      font-family: serif;
    }
    
    #map {
        display:inline-block;
    }
    .container {
        width: 1100px;
    }